// mixins, typo, colors, headlines...

@import url('https://fonts.googleapis.com/css?family=Heebo:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import "@/assets/breakpoints.scss";
@import '~pretty-checkbox/src/pretty-checkbox.scss';

$pretty--color-default:#ffffff;

// helpers

.flex{
    display: flex;
  }

// elements

body{
    background: salmon; // #ef256b
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: navy; // #3633B0
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Heebo', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: navy;
    margin: 1em 0 0 1em;
    @include s {
        font-size: 3rem;
    }
    @include m {
        font-size: 3rem;
    }
    @include xl {
        font-size: 5rem;
    }
    @include xxl {
        font-size: 6rem;
    }
}

h2{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: navy;
}

button{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-size: 400;
    cursor: pointer;
    background: transparent;
    border: none;
}

ul{
    list-style: none;
}

.listname-input{
    font-family: 'Heebo', Helvetica, Arial, sans-serif;
    font-size: 2rem;
}

.p-error-box{
    color: white;
    font-size: 1.1rem;
    line-height: 1.6rem;
}